{
  "mcpServers": {
    "ElevenLabs": {
      "command": "uvx",
      "args": ["elevenlabs-mcp"],
      "env": {
        "ELEVENLABS_API_KEY": "INSERT_KEY_MANUALLY",
        "ELEVENLABS_MCP_OUTPUT_MODE": "resources"
      }
    },
    "n8n": {
    "command": "npx",
      "args": [
        "-p", "n8n-mcp", 
        "-p", "zod", 
        "n8n-mcp"
      ],
      "env": {
        "N8N_SERVER_URL": "INSERT_N8N_URL_MANUALLY",
        "N8N_ACCESS_TOKEN": "INSERT_N8N_KEY_MANUALLY"
      }
    }
  }
}