{
  "mcpServers": {
    "ElevenLabs": {
      "command": "uvx",
      "args": ["elevenlabs-mcp"],
      "env": {
        "ELEVENLABS_API_KEY": "INSERT_KEY_MANUALLY_DO_NOT_COMMIT",
        "ELEVENLABS_MCP_OUTPUT_MODE": "resources"
      }
    },
    "n8n": {
      "command": "npx",
      "args": ["@n8n/mcp-server"],
      "env": {
        "N8N_HOST": "INSERT_N8N_URL_MANUALLY",
        "N8N_API_KEY": "INSERT_N8N_KEY_MANUALLY_DO_NOT_COMMIT"
      }
    }
  }
}